<h3 class="white">Education <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#education'), $(this))"></span></h3>

<ul>
    <li><span class="uk-text-bold">2004-2009 - </span>Bachelor American Studies at the University of Groningen</li>
    <li><span class="uk-text-bold">1998-2000 - </span>Bachelor History at the University of Groningen</li>
    <li><span class="uk-text-bold">1995-1998 - </span>Noorderpoortcollege in Groningen, High School</li>
    <li><span class="uk-text-bold">1992-1995 - </span>Charlotte Country Day School, Charlotte, North-Carolina, USA</li>
</ul>
