<h3 class="white">Experience <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#experience'), $(this))"></span></h3>
<hr class="uk-article-divider" />
<div id="experience">
    <h4 class="white">2014 - present Paylogic, Groningen, Software Engineer <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#paylogic'), $(this))"></span></h4>
    <div id="paylogic" class="uk-grid">
        <div class="uk-width-1-2">
            <ul>
                <li>Python, Javascript</li>
                <li>Django and Flask frameworks</li>
                <li>Sqlalchemy ORM</li>
                <li>MySQL and Postgresql databases</li>
                <li><a target="_blank" href="http://pytest.org/latest/">Pytest</a> testing framework</li>
            </ul>
            <p>Paylogic is an online ticketing service which uses a high available queue to handle tens of thousands
            of ticket sales per event. Merchants can configure their own events in the custom built backend.</p>
        </div>
        <div class="uk-width-1-2">
            <h4 class="white">Noteworthy projects</h4>
            <p>I took the lead in upgrading the Django framework on top of which the Paylogic codebase is built.
            Leapfrogging several versions. This entailed major refactoring of our codebase and rewriting large parts
            of it.</p>

            <p>To showcase the Paylogic API I implemented the <a target="_blank" href="http://ml.paylogic.com">Millenniumland</a> demo
            website, a stand alone mock dance event website demonstrating the ease of use of the API and the modern design
            techniques Paylogic is capable of.</p>
        </div>
    </div>

    <hr class="uk-article-divider" />

    <h4 class="white">2011 - 2013 Getlogic, Groningen, Developer/Scrum Master <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#getlogic'), $(this))"></span></h4>
    <div id="getlogic" class="uk-grid">
        <div class="uk-width-1-2">
            <ul>
                <li>Python, Javascript</li>
                <li>Django and Flask frameworks</li>
                <li>Postgresql and sqlit3 databases</li>
            </ul>
            <p>Getlogic is a webdevelopment company which builds custom websites, webshops or online communities.</p>
        </div>
        <div class="uk-width-1-2">
            <h4 class="white">Noteworthy projects</h4>
            <p>I helped build an inventory management system coupled to a user friendly backend for a bookshop.
            This system used portable scanners to keep track of the current inventory.</p>

            <p>During my time at Getlogic the Dutch government complied with European legislation pertaining to
            Cookies. As we would have to build in so called “cookie bars” in most of our websites I took it upon
            myself to build a small library to make this as easy as possible, and made it open source.
            <a target="_blank" href="https://pypi.python.org/pypi/django-cookie-law-nl/0.2.1">Cookie-Law</a></p>
        </div>
    </div>

    <hr class="uk-article-divider" />

    <h4 class="white">2010 - 2011 Goldmund, Wyldebeast & Wunderliebe, Groningen, Internship <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#gww'), $(this))"></span></h4>
    <div id="gww" class="uk-grid">
        <div class="uk-width-1-2">
            <ul>
                <li>Python, Javascript</li>
                <li>Django and Plone frameworks</li>
                <li>Postgresql and sqlite databases</li>
            </ul>
            <p>Goldmund, Wyldebeast & Wunderliebe are specialized in developing web applications.</p>
        </div>
    </div>
</div>
