<h3 class="white">Motivation <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#motivation'), $(this))"></span></h3>
<div id="motivation">
    <p>Software development for me is the creation of something from nothing. I receive satisfaction from both creating
    something from scratch as well as refactoring and improving existing code. Whether I refactor or write new code my
    main goal is to make it clean and easily understandable to others. Code that is easily understood is much less likely
    to be broken by another engineer when he inevitably has to work on your code.</p>

	<p>Lately I've been gaining interest in how teams function and translating between engineers and management.
		Engineers often have strongly held opinions and aren't always able to see the bigger picture. Likewise
		management sometimes doesn't know how to distinguish a difficult problem from an easy one.
	</p>

    <p>I am a proponent of a proper development process that is followed by all engineers within a team. A well thought
    out process, including a testing strategy, can prevent many of the common issues within a team
    (recurring bugs, delays and an understanding of what to build). Proper tools are also an important part of the
    development process, every engineer has his own set of tools he has gathered over the years and has tweaked to his
    own style of working, but it is of equal importance that the team as a whole has the proper tools as well
    (Continuous Integration, test suites, version control, etc.). I'm a fan of Agnostic Agile, no one agile strategy is always the best and it should be adapted to the specific organisation it is meant for.</p>
</div>
