<h3 class="white">Personal Strengths <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#strengths'), $(this))"></span></h3>
<div id="strengths">
    <p>I am dependable, I work hard to finish a project on time, failing that I inform my team lead in a timely fashion
    so we can resolve any problems that are interfering with the completion of the project.</p>

    <p>A good atmosphere is important for a company and I help where I can. I am a good colleague, helping out co-workers
    and just generally fun to work with. For example: I set up a table tennis competition at Paylogic, including a
    website where people can keep score and rankings are calculated.</p>
</div>
