<h3 class="white">Personal Strengths <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#strengths'), $(this))"></span></h3>
<div id="strengths">
    <p>I am dependable, I work hard to finish a project on time, failing that I inform the stakeholders in a timely
		fashion so we can resolve any problems that are interfering with the completion of the project.</p>

	<p>I'm easy to work with and flexible when possible. I tend to ask the hard questions such as: "Why are
	we doing this, and is it really necessary?" Though not always appreciated it is meant to prevent feature creep
		and bloat, which are very real dangers in software development.</p>
</div>
